* {
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size;
  color: $color-gray;
  line-height: 1.15;
}

h1 {
  font-family: $font-header;
  font-weight: 300;
  letter-spacing: 0.08em;
  line-height: 1.2;

  @include lg-min {
    font-size: 3.75rem;
  }

  @include lg-md {
    font-size: 2.5rem;
  }

  @include md-sm {
    font-size: 1.875rem;
  }

  @include sm {
    font-size: 1.875rem;
  }
}

h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  line-height: 1.2em;
  color: $color-primary;
  letter-spacing: 0.1em;
}

.info h2,
.posts h2 {
  margin-top: 0;

  @include lg-min {
    font-size: 2.5rem;
    margin-bottom: 56px;
  }

  @include lg-md {
    font-size: 2rem;
    margin-bottom: 42px;
  }

  @include md-sm {
    font-size: 1.5rem;
    margin-bottom: 36px;
  }

  @include sm {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 36px;
  }
}

a {
  text-decoration: none;
  color: $color-light;
}

h3 {
  font-weight: 700;
  font-size: 1.125rem;
  // line-height: 21px;
  color: $color-gray;
  letter-spacing: 0.05em;
}

p {
  color: $color-gray;
  line-height: 1.15;
}

input {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 21px;
  // color: #9195a3;
}

.btn,
.btn-accent,
.btn-form,
.btn-posts {
  display: block;
  border: 2px solid $color-light;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  transition: background-color 0.5s;
  letter-spacing: 0.1em;

  &:hover,
  &:focus {
    background-color: #d76925;
  }
}

.btn {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid $color-light;

  @include lg-min {
    min-width: 250px;
    height: 60px;
    padding: 18px $gap;
    font-size: 1.125rem;
  }

  @include lg-md {
    min-width: 200px;
    min-height: 50px;
    padding: 14px $gap;
    font-size: 1rem;
  }

  @include md-sm {
    min-width: 170px;
    min-height: 40px;
    padding: 9px $gap;
    font-size: 1rem;
    letter-spacing: 0.05em;
  }

  @include sm {
    min-width: 170px;
    min-height: 40px;
    padding-top: 10px;
    padding-bottom: 8px; 
    font-size: 1rem;
    letter-spacing: 0.05em;
  }
}

.btn-accent {
  background-color: rgba($color-primary, 0.8);
  border: 2px solid $color-primary;
  min-width: 350px;
  height: 60px;
  padding: 18px $gap;
  font-size: 1.125rem;

  @include sm {
    min-width: auto;
    width: 100%;
  }
}

.btn-form {
  width: 100%;
  height: 60px;
  border: 2px solid transparent;
  border-bottom-color: $color-gray;
  transition: border background-color 0.5s;
  color: $color-light;
  font-size: 1.125rem;
}

.btn-form:hover {
  border: 2px solid $color-light;
}

.btn-posts {
  min-width: 350px;
  height: 60px;
  border-color: $color-primary;
  background-color: rgba(45, 54, 81, 0.8);
  padding: 18px $gap;
  font-size: 1.125rem;

  @include sm {
    min-width: auto;
    width: 100%;
  }
}
