.header-content {
  position: relative;

  &__title {
    text-align: center;
    margin: 0 0 53px;

    @include lg-min {
      margin: 0 0 53px;
    }

    @include lg-md {
      margin: 0 0 43px;
    }

    @include md-sm {
      margin: 0 0 33px;
    }

    @include sm {
      margin: 0 0 23px;
    }
  }

  &__container {
    @extend %container;
  }

  &__buttons {
    display: flex;
    justify-content: center;

    @include sm {
      flex-direction: column;
     align-items: center;
    }
  }

  .btn:first-of-type {
    @include sm-min {
      margin-right: $gap;
    }
    @include sm {
      margin-bottom: $gap;
    }
  }
}
